* {
  box-sizing: border-box;
}
.calculator-row {
  display: flex;
}
.total {
  align-items: center;
  background-color: #000;
  border: 1px solid #98888a;
  color: #FFF;
  display: flex;
  font-size: 81px;
  justify-content: flex-end;
  padding: 0 16px;
  height: 120px;
  width: 440px;
}
.btn {
  border-color: #98888a;
  cursor: pointer;
  font-size: 54px;
  height: 95px;
  width: 110px;
}
.btn.white {
  background-color: #FFF;
}
.btn.red {
  background-color: #a0001e;
  color: #FFF
}
.btn.bold {
  font-weight: bold;
}
.btn.three-quarter {
  width: 330px;
}