.calculator-display {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.row {
    flex-basis: 100%;
    flex-wrap: nowrap;

    display: flex;
    justify-content: flex-end;
}

#display {
    background: rgb(50,50,50);
    color: white;
    padding: .75rem 1rem;
    flex-basis: 100%;

    display: flex;
    justify-content: flex-end;
}