.calculator-display {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #222222;
  color: white;
  padding: 0 20px;
  border: 2px solid gray;
  font-size: 25px;
}