.calculator-display {
    max-width: 100%;
    margin: 0;
    border: 2px solid rgb(185, 185, 185);
    /* border-bottom: none; */
    background: black;
    color: white;
    padding: 20px;
    font-size: 10rem;
    font-weight: 10;
    text-align: right;

}