.display{
    display: flex;
    align-items: flex-end;
    width: 400px;
    height: 150px;
    color: white;
    background-color: black;
    padding: 10px;
    justify-content: flex-end;
    font-size: 3rem;
    box-sizing: border-box;
}