.display {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 15px;
  background: #1F1F1F;
  color: white;
  font-size: 80px;
  font-weight: 300;
  padding: 10px;
  width: 100%;
}