.display {
  width: 100%;
  height: 65px;
  color: white;
  background-color: black;
  border: none;
  font-size: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px;
  border: 1px solid gray;
  border-bottom: 0;
  border-left: 2px; 
}
  