.numberButton {
    width: 75px;
    height: 75px;
}

.actionButton {
    width: 75px;
    height: 75px;
    background: #A0001D;
    color: white;
    &:first-child {
        width: 100%
    }
}

.input {
    width: 100%;
    height: 5rem;
    background-color: black;
    & p {
        margin: 0px;
        color: #fff;
        font-size: 4rem;
        text-align: right;
    }
}