.calculator-container .display {
    display: flex;
    justify-content: flex-end;
    min-width: 100%;
    height: 15%;
    height: 21%;
    align-items: center;
    background-color: #222222;
    border: 1px solid #979797;
    color: white;
    flex-grow: 4;
    padding: 20px;
    font-size: 70px;
  }