/* All styles for your Card Components live here */
a{
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	// font: inherit;
    vertical-align: baseline;
    text-decoration: none;
}
.CardContainer{
    display: flex;
    width: 600px;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 10px;

}

.ContentImg{
    width: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom: 1px solid lightgray;

}

.cardWrapper{
    border: 1px solid lightgray;
    border-radius: 4px;
    text-decoration: none;

}
.left{
    margin-right: 10px;
}

.cardTitle, .cardContent, .cardLink{
    margin: 5px;
}
.cardTitle{
    font-weight: 600;
}
.cardLink{
    color: lightgray;
} 