.card-container {
  max-width: 574px;
  display: flex;
}

.card-prof-pic {
  align-self: flex-start;
  max-width: 49px;
  height: auto;
  margin: 14px 10px 0px 10px;
  border-radius: 100%;
}

.card-container .card-bottom-cont {
  border: 1px solid lightgray;
  border-radius: 6px;
  overflow: hidden;
  padding-bottom: 10px;
  text-decoration: none;
}

.card-main {
  text-decoration: none;
  color: black;
}

.card-container .banner-img {
  height: 253px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('https://tk-assets.lambdaschool.com/fcd75197-7d12-46ec-bc9e-4130f34822fa_reactbackground.png')
}

.banner-content {
  padding: 0px 15px 0px 15px;
}

.banner-content h3 {
  font-size: 14px;
  margin-bottom: 5px;
}

.banner-content p {
  margin-top: 0px;
  font-size: 14px;
  margin-bottom: 4px;
  letter-spacing: 0.1px;
  line-height: 18px;
}

.banner-content .react-text {
  text-decoration: none;
  color: gray;
  font-size: 14px;
}