/* All styles for your Card Components live here */

.banner-content {
  margin: 0;
  padding: 15px;
}


.banner-img {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  /* height: 100%; */
  height: 252px;
  background-position: center;
  background-size: 165% 165%;
  background-image: url(https://tk-assets.lambdaschool.com/fcd75197-7d12-46ec-bc9e-4130f34822fa_reactbackground.png);
  cursor: pointer;
}

.link {
  text-decoration: none;
  color: lightgrey;
}