/* All styles for your Card Components live here */

.card-container {
    border: solid gray 1px;
    margin-left: 96px;
    width: 650px;
    height: 485px;
    border-radius: 5px;
}

a {
    text-decoration: none;
    color: black;
}

.card-banner {
    width: 650px;
    border-radius: 5px 5px 0px 0px;
}

.card-content {
    margin: 15px;
}
.card-content a {
    color: gray;
    font-weight: 300;
}

.card-content h2 {
    font-size: 19px;
}

.card-content p {
    display: flex;
    flex-direction: column;
    justify-content: center;
}