/* All styles for your Card Components live here */

.bannerImg {
 margin-left:60px;
 border-top-left-radius: 5px;
 border-top-right-radius:5px;
}

a {
    text-decoration: none;
}

.CardContent {
  margin-left:59px;  
  margin-top:-5px;
  border:1px solid lightgrey;
  width:499px;
  padding-top:5px;
  text-decoration: none;
  
}

.CardContent h2 {
    font-size: .9rem;
    margin-left:15px;
    text-decoration: none;
}

.CardContent p {
    font-size:.8rem;
    margin-left:15px;
    text-decoration: none;
}

.reactLink {
    color:lightgrey;
}
