/* All styles for your Card Components live here */
.Banner{
    
    width:100%;
    height:500px;
    
    background-image: url("https://tk-assets.lambdaschool.com/fcd75197-7d12-46ec-bc9e-4130f34822fa_reactbackground.png");
    background-position: center;
   
}
a{
    text-decoration: none;
    color:black;
    
}
.Card{
    
    margin:30px;
    height:50%;
    border:2px solid gray;
    border-radius:4px;
}
.content{
    
}