/* All styles for your Card Components live here */
.card-container {
  padding-left: 96px; 
  border: 1px solid blue;
  margin: 1px;
}
.card-container .card-banner {
    width: 600px;
    height: 300px;
    background-image: url("https://tk-assets.lambdaschool.com/fcd75197-7d12-46ec-bc9e-4130f34822fa_reactbackground.png");
    background-size: contain;
  }
  
  .card-content {
    margin-left: 15px;
    padding: 10px;
    width: 550px;
  }

  .card-content h2 {
    font-size: 1rem;
  }

  .card-content a{
    text-decoration: none;
    color: gray;
  }
