/* All styles for your Card Components live here */
.banner-wrapper{
    display: flex;
    flex-direction: column;
}

.banner-container-wrapper {
    height: 269px;
    width: 80%;
    margin: 30px auto 0 auto;
    border-radius: 4px;
    background: hsl(0, 0%, 100%);
    background-size: contain;
}

/*
    width: 62%;
    margin-left: 80px;
    margin-bottom: 0;
    border-top-left-radius: .4rem;
    border-top-right-radius: .4rem;

    border-radius: 4px 4px 0 0;
    max-height: 100%;
    max-width: 100%;
*/
.banner-img {
    border-radius: 4px 4px 0 0;
    max-height: 100%;
    max-width: 100%;
}

.banner-bottom {
    height: 90px;
    background: #ffffff;
    width: 80%;
    margin: 0 auto;
    margin-top: -2px;
    border-bottom: 1px solid #e3e3e3;
    border-left: 1px solid #e3e3e3;
    border-right: 1px solid #e3e3e3;
    border-radius: 0 0 4px 4px;
}

.banner-content {
    margin: 0;
    padding: 0.3em;
}

.link {
    text-decoration: none;
    color: #d1d2d3;
}