/* All styles for your Card Components live here */


.banner-img {
    height: 252px;
    background-image: url(https://tk-assets.lambdaschool.com/fcd75197-7d12-46ec-bc9e-4130f34822fa_reactbackground.png);
}