/* All styles for your Card Components live here */
.card-container {
  width: 86%;
  margin-left: 60px;
}

.card-banner {
  border-radius: 5px 5px 0px 0px;
  width: 100%;
}

.card-content {
  font-size: 14px;
  border: 1px solid rgb(192, 188, 188);
  margin-top: -5px;
  padding-left: 10px;
  border-radius: 0px 0px 5px 5px;
  color: black;
}

.link {
  color: gray;
}

.toReact {
  text-decoration: none;
}
