/* All styles for your Card Components live here */
.cardtainer {
    margin: 0 5px 25px 65px;
    border: 0.5px solid #e7edf0;
    border-radius: 5px;
    cursor: pointer;
  }
  
   img {
    width: 100%;
    border-radius: 5px 5px 0 0;
  }
  
   .cardContent {
    padding-left: 5px;
  }
  
   .cardContent p {
    font-size: 1.2rem;
  }