/* All styles for your Card Components live here */
.banner-wrapper {
    display: flex;
    flex-direction: column;
  }
  
  .banner-container-wrapper {
    height: 269px;
    width: 80%;
    margin: 30px auto 0 auto;
    border-radius: 4px;
    background: url("https://tk-assets.lambdaschool.com/fcd75197-7d12-46ec-bc9e-4130f34822fa_reactbackground.png");
    background-size: 165% 165%;
  }
  .banner {
      display:flex;
      justify-content: center;
      width: 80%;
      margin-left: 10%;
  }

  .banner-img {
    border-radius: 4px 4px 0 0;
    max-height: 100%;
    max-width: 100%;
    
  }
  .banner-bottom {
    height: 90px;
    background: #ffffff;
    width: 80%;
    margin: 0 auto;
    margin-top: -2px;
    border-bottom: 1px solid #dddada;
    border-left: 1px solid #dddada;
    border-right: 1px solid #dddada;
    border-radius: 0 0 4px 4px;
  }
  
  .banner-content {
    margin: 0;
    padding: 0.3em;
  }
  
  .link {
    text-decoration: none;
    color: #babec3
  }
  