/* All styles for your Card Components live here */

.banner-content {
  margin: 0;
  /* padding: 15px; */
}


.banner-img {
  border-radius: 5px;
  /* height: 100%; */
  width: 505px;
  height: 250px;
  margin-top: 55px;
  /* background-position: center; */
  /* background-size: 165% 165%; */
  /* background-image: url(https://tk-assets.lambdaschool.com/fcd75197-7d12-46ec-bc9e-4130f34822fa_reactbackground.png); */
  cursor: pointer;
}

.link {
  text-decoration: none;
  color: lightgrey;
}