/* All styles for your Card Components live here */


.card {
    width: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 55px;
    border: 2px solid #E8E8E8;
    border-radius: 5px;
}

h2 {
    display: flex;
    font-size: 20px;
    color: black;
    font-weight: bold;

}

a {
    display: flex;
    color: #C8C8C8;
    font-size: 14px;
    font-weight: lighter;
    padding-top: 4px; 
    cursor: pointer; 
    text-decoration: none;   

}
