/* All styles for your header Components live here */

.header-container {
    display: flex;
    flex-direction: row;
    width: 700px;
    height: 120px;

}

.logo {
    height: 60px;
    width: 60px;
}

.head {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 110px;
}

.head p {
    margin-left: 8%;
    margin-top: 0%;
}

.head p span {
    font-size: 12px;
    color: gray;
    font-weight: 300;
}


.title {
    width: 300px;
    font-weight: bold;
    font-size: 19px;

}

.header-content {
    margin-left: 11%;
    margin-top: 0%;
    width: 650px;
}