/* All styles for your header Components live here */
.header-container {
     display: flex; 
    border: 1px solid #c13232;
    padding: 2px;
}

.imagethumbnail img{
    height: 80px;
    width: 80px; 
    border: 1px solid gray;
    padding: 5px;
    margin: 1px;
    padding-bottom: 15px;
}

.header-content {
    border: 1px solid #3d6d8d;
    margin: 1px;
    width: 600px;
}

.header-content p {
    font-size: 1.2rem;
    margin: 0;
}


.header-content .header-title-container{
   padding: 0;
   margin: 0;
    display: flex;
    align-items: center;
}

.header-content .header-title-container h2{
    font-size: 1.2rem;
}

.header-content .header-title-container p{
    font-size: 1rem;
    margin-left: 15px;
}

.header-content .header-title-container .header-time {
    margin-left: 30px;
}



