/* All styles for your header Components live here */


.header {
    width: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 55px;

}

h1 {
    display: flex;
    font-size: 20px;
    color: black;
    font-weight: bold;

}

span {
    display: flex;
    color: #C8C8C8;
    font-size: 14px;
    font-weight: lighter;
    padding-top: 4px;
}

p {
    display: flex;
    font-size: 14px;
    line-height: 18px; 
    /* padding-right: 500px; */
    margin-top: 0px;
}
