@import "./../../index.scss";

/* All styles for your header Components live here */

.headerContainer{
  border: $mainBorder1;
  display: $displayGrid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  
  // for the image thumbnail container 
  .lambdaLogo{
    border: $mainBorder1;
    width: 40%;
    max-width: 100%;
    align-items: center;
    justify-content: center;
  }

  // for the header title component
  .headerTitle{
    // border: $mainBorder2;

    .grey{
      color: lightgrey;
    }
  }
  // for the header content component
  .headerContent{
    border: $mainBorder3;
  }
}