/* All styles for your header Components live here */
.main-container{
    .header-container{
        border: 1px solid red;

        .img-column{
            width: 75px;
            border:1px solid blue;

            .image-thumb-container{

                .img-thumbnail{
                    width: 70px;
                    border-radius: @border-radius-rnd;
                }
            }
        }

        .header-txt-column{
            width: 50px;
        }
      
    }
}