/* All styles for your header Components live here */
.header-title {
  display: flex;
}

.header-container {
  display: flex;
}

.header-content {
  margin-right: 20px;
}

.header-p {
  font-size: .9rem;
  margin-top: 0;
  width: 500px;
}

.fineprint {
  color: gray;
  font-size: .7rem;
}

h1 {
  font-size: .9rem;
  margin-right: 10px;
}

.image-thumbnail {
  width: 50px;
  margin-top: 5px;
  margin-right: 10px;
}