.HeaderContainer {
  display: flex;
  flex-flow: row;
  
}

.HeaderContainer img {
  height: 4.5rem;
  width: 4.5rem;
  color: white;
  border: solid 2px crimson;
  border-radius: 100%;
  margin: .5rem;
}

.HeaderTitle {
  display: flex;
  flex-flow: row wrap;
}

.HeaderTitle h3 {
  margin-bottom: 0;
}

.lambdaHandle {
  align-self: center;
  margin-left: 1rem;
  margin-bottom: 0;
  color: rgba(0,0,0,.5);
}

.HeaderTitle p {

}