.header-container {
  margin-top: 14px;
}

.header-container .header-title h3 {
  font-size: 14px;
  display: inline-block;
  margin: 0px;
}

.header-container .header-title p {
  display: inline-block;
  font-size: 12px;
  color: gray;
  margin: 0px;
  margin-left: 10px;
}

.header-container .header-main-text {
  margin-top: 6px;
  font-size: 14px;
  letter-spacing: 0.1px;
  line-height: 18.8px

}