/* All styles for your header Components live here */

.Header {
    width: 100%;
    display: flex;
    align-items: flex-start;
}

.Title {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
}

.Title h1 {
   font-size: 1rem;
   font-weight: bold;
   margin: 5px; 
}

.H2 {
    font-size: .8rem;
    font-weight: normal;
    color: darkgray;
}

.Header-Content {
    margin: 5px;
}

.Logo {
    width: 8%;
    margin: 5px;
}