/* All styles for your header Components live here */

.header-container {
    display: flex;

    .headerImage{
        width: 10%;

        img{
            height: 50%;
            display: block;
            margin: 0 auto;
        }
    }

    .headline{
        display: flex;
        justify-content: space-between;
        align-content: flex-end;
        width: 40%;
        margin-left: 0;
        h1{
           font-size: 1rem; 
           margin: 0;
        }
        .handle{
            margin: 0;
            font-size: 1rem;
            color: lightslategray;
        }
        
        .timestamp{
            margin: 0;
            font-size: 1rem;
            color: lightslategray;
            display: list-item;
            list-style-type: disc;
            list-style-position: inside;
        }
    }

    .headerContent{
        display: block;
        width: 80%;
        font-size: 1rem;
        margin-left: 0;
    }
}


