@import "./../../index.scss";

/* All styles for your header Components live here */

.headerContainer{
  // border: $mainBorder1;
  display: $displayGrid;
  grid-template-columns: 10% 90%;
  grid-column-gap: .1rem;
  align-items: center;
  
  // for the image thumbnail container 
  .lambdaLogo{
    // border: $mainBorder1;
    width: 100%;
    max-width: 100%;
    align-items: center;
    justify-content: center;
  }

  // for the header title component
  .headerTitle{
    // border: $mainBorder2;
    margin-left: 1rem;


    .grey{
      color: lightgrey;
    }
  }
  // for the header content component
  .headerContent{
    border: none;
  }
}