/* All styles for your header Components live here */
.HeaderContainer{
    display: flex;
    font-size: 1 rem;
    flex-direction: column;

}
.TitleContainer{
    display: flex;
}
.HeaderTitle{
    display: flex;
}
.name, .handle, .date{
    margin-right: 5px;
}

.handle{
    color: gray;
}

.logo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}