#calculator {
    max-width: 270px;
    * {
        // margin: 0.5rem 0.3rem;
        border: 1px solid darkgreen;
        cursor: pointer;
    }
}
.SocialCard {
    border: 1px solid aqua;

    .Post {
        border: 1px solid chartreuse;
    }
    .LinkedContent {
        border: 1px solid coral;

        .card {
            width: 18rem;
        }
    }

    .SocialAndShare {
        border: 1px solid darkgreen;
    }

}