body {
  margin: 0;
  padding: 0.4rem;
  font-family: sans-serif;
}

.app {
  max-width: 650px;

}

.card-container {
  width: 63%;
  border: 1px solid lightgray;
  margin-left: 8%;
  border-radius: 7px;
}

.card-container img {
  width: 100%; 
  border-radius: 7px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.logo {
  width: 7%;
  height: 7%;
  padding: 6px;
}

.text-content {
  font-size: .9rem;
  padding-left: 2%;
  margin-bottom: 13px;
}

.title {
  display: flex;
}

.title h1 {
  font-size: 1rem;
  margin-left: 2%;
  margin-bottom: 0;
}

.title h2 {
  font-size: .8rem;
  font-weight: 100;
  color: gray;
  padding-left: 2%;
  margin-bottom: 0;
}

.header-container {
  display: flex;
  width: 73%;
}

.card-content {
  font-size: .9rem;
  width: 92%;
  padding: 0 3%;
  margin-bottom: 9px;
}

.card-content h2 {
  font-size: .9rem;
  margin-bottom: 5px;
}

.card-content p {
  margin: 0;
}