.calc-actions-container{
	border: 1px solid red;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	height: 78.125%;
	width: 25%;

	.function {
		border: 1px solid purple;
		width: calc(100% / 3);
		height: 25%;
		width: 100%;
		font-size: 4rem;
	}
}
