

.symbolStyle {
    background: darkred;
    color: white;
    font-size: 2.7rem;
}

.actionButtonDiv {
    width: 60.3%;
}

.actionButton {
    width: 100%;
    height: 95px;
    background: white;
    border: 1px solid grey;
    font-size: 2.7rem;
    padding: 0;
    color: black;

 
}