// Border utility adjustments
.border {
    border: 2px solid silver !important;
}
.border-bottom {
    border-bottom: 2px solid silver !important;
}
.border-top {
    border-top: 2px solid silver !important;
}
.border-left {
    border-left: 2px solid silver !important;
}
.border-right {
    border-right: 2px solid silver !important;
}