.column {
    display: flex;
    .numberButtonsContainer {
        width: 75%;
        font-size: 3rem;
        text-align: center;
        .action {
            width: 100%;
            padding: 25px 0;
            border: 1px solid gray;
        }
        .numberContainer {
            // border: 1px solid red;
            display: flex;
            flex-wrap: wrap;
            .number {
                display: inline;
                width: 33.3%;
                border: 1px solid gray;
                padding: 25px;
            }
        }
    }
    .logicButtonsContainer {
        width: 25%;
        text-align: center;
        .red {
            background: #a0001f;
            color: #fff;
            font-size: 3rem;
            padding: 25px 0;
            border: 1px solid gray;
        }
    }
}