.col-3, .col-9 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
}

.bg-red {
    background: darkred;
    .operator-btn {
        font-size: 70px;
        color: #fff;
    }
}

.num-btn {
    font-weight: bold;
}

.zero {
    font-weight: bold;
}