.buttons {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  height: 300px;
  border: 1px red solid;
  .left {
    width: 75%;
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: center;
    border: 1px red solid;
    div {
      width: 100%;
      height: 20%;
      border: 1px black solid;
      font-weight: bold;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .numbers {
      width: 33.25%;
      height: 20%;
      border: 1px black solid;
    }
  }
  .right {
    width: 25%;
    border: 1px red solid;
    display: flex;
    flex-flow: column nowrap;
    .action {
      width: 100%;
      height: 20%;
      border: 1px black solid;
    }
  }
}
