
.calculon {
	width: 500px;
	height: 700px;
	border: 1px solid grey;
	border-radius: 15px;
	background: white;
	margin: 10% auto;
	display: flex;
	flex-wrap: wrap;
	flex-direction: flex-start;
	justify-content: center;
}