.calcDisplay {
    background: black;
    font-size: 4.5rem;
    color: white;
    display: flex;
    justify-content: flex-end;
    padding: 27px 3% 17px 0px;
    font-weight: 100;
    width: 77.5%;
    border-bottom: 1px solid grey;
}