.calculator-display {
  // height: 125px;
  background: black;
  padding: 30px 20px 30px 0;
  display: flex;
  color: #ffffff;
  font-size: 7rem;
  justify-content: flex-end;
  align-items: center;
  width: 100%;

  p {
    display: flex;
    color: #ffffff;
    font-size: 7rem;
    justify-content: flex-end;
    font-weight: 100;
    // margin-right: 0px;
  }
}
