.display {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  background-color: #222222;
  color: white;
  height: 100px;
  margin: 0;
  padding: 10px 15px;
  font-size: 6rem;
  font-weight: normal;
}