.display {
	height: 14%;
	width: 90%;
	font-size: 4rem;
	text-align: right;
	border: 1px solid grey;
	margin: 5% 0;

	display: flex;
	justify-content: flex-end;
	align-items: flex-end;

	padding: 0 2% 1% 2%;
	font-size: 7rem;
}