.calc-numbers-container {
	border: 1px solid blue;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	height: 78.125%;
	width: 75%;

	.number {
		border: 1px solid purple;
		width: calc(100% / 3);
		height: 25%;
		font-size: 4rem;

		
	}

	.number-large {
			width: 100%;
			border: 5px solid cyan;
		}
}