///widths

@maxWidth: 408px;
@width: 100%;
@width50: 50%;
@width75: 75%;
@numBtnWidth: 124px;
@actionBtnWidth: 300px;


///Colors
@blackBorder: #000;
@greyBorder: #ccc;
@white: #fff;
@blackBg: #000;
@operatorBg: #A0001E;
@hoverBtn: #eee;
@darkHover: #333;


//font-sizes
@font-sizeReg: 1rem; //16px
@display-size: 4rem;


///font
@fontFamily: 'Oswald', sans-serif;