.workspace {
    border-bottom: 2px solid silver;
    .col {
        background: #222;
        color: #fff;
        height: 125px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-size: 70px;
    }
}