@import './header.less';

.appBody {
    width: 500px;
    height: 500px;
    border: 1px solid navy;

    h2 {
        font-size: 1.4rem;
        font-weight: bold;
    }
    p {
        font-size: 1.4rem;
    }
}