* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.container {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  max-width: 590px;
  margin-top: 13px;
  padding-right: 10px;
}

.main-body {
  display: flex;
  flex-direction: column;
}

p {
  font-size: 1.6rem;
}
