.card-container {
	width: 86%;
	margin-left: 12%;
	//padding-left: 10px;
	//padding-right: 10px;
	border-radius: 10px;
	border: 1px solid #E1E8ED;
	overflow: hidden;
	margin-top: 5px;

	.card-banner {
		//in the design file this image is way more zoomed in.
		width: 100%;
	}

	.card-content{

		padding: 0 2.5%;

		.card-title{
			font-weight: bold;
			font-size: 14px;
			font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
			color: #14171a;
			margin-top: 10px;
		}
	    
	    .card-text {
	    	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
			font-size: 14px;
			color: #14171a;
			line-height: 1rem;
			margin-top: 10px;
	    }

	    .card-source{
	    	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	    	/*
			font-size: 12px;
			color: #8899A6;
			border: 1px solid red;
			margin-top: 10px;
			margin-bottom: 10px;*/

			font-size: 12px;
			margin-top: 10px;
			margin-bottom: 10px;

			text-transform: lowercase;
		    color: #8899A6;
		    max-height: 1.3em;
		    white-space: nowrap;
		    overflow: hidden;
		    text-overflow: ellipsis;
	    }
	}
}