.banner-image {
  width: 100%;
  height: auto;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-top: 10px;
}

.card-container {
  display: flex;
  flex-direction: column;
}

.h1 {
  font-size: 1.2 rem;
  font-weight: bold;
}

.card-content-container {
  padding-left: 15px;
  border: 1px solid gray;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.gray-text {
  color: gray;
  margin-top: 10px;
}
