.banner-image {
  width: 100%;
  height: auto;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.card-container {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 1.2 rem;
  font-weight: bold;
  margin-top: -10px;
}

.card-content-container {
  padding-left: 20px;
  border: 1px solid gray;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
