.cardContainer {
    display: flex;
    flex-direction: column;
    margin-left: 12%;

    .cardBanner {
        background-image: url(https://ibin.co/3wnC6SgIOJud.png);
        height: 250px;
        width: 97%;
        background-position: center;
        background-size: cover;
        margin-top: 12px;
        border-radius: 5px;
    }

    .cardContent {
        margin-left: 2%;
        h1 {
            font-size: 1rem;
            margin: 0;
            margin-top: 5px;
        }
        
        p {
            font-size: 1rem;
            margin: 0;
            margin-top: 3px;
            width: 90%;
        }

        a {
            color: gray;
            font-size: 1rem;
            text-decoration: none;
            margin-top: 10px;

        }
    }
    
    
} // Card Container End