.headerContainer {
    display: flex;
    box-sizing: border-box;

    .headerContentContainer {
        flex-direction: column;
        
  
  .headerContent {
   
        p {
            font-size: 1rem;
            margin: 0;
            margin-top: 9px;  
        }
  }
  
  .headerTitle {
    
    display: flex;
    align-items: center;
    padding-top: 4px;
    width: 100%;
    

        h1 {
            font-size: 1rem;
            margin: 0;
        }

        p {
            color: grey;
            margin: 0;
            padding: 0 1% 0 1%;
            font-size: 0.75rem;
        }
     }
  
    }// End of Header Content Container

    .imageThumbnail {
        width: 30%;

        img {
            width: 100%;
        }
    }

}// End of Header Container