.header-container {
  display: flex;
  flex-direction: column;
}

.lambda-logo {
  width: 50px;
  margin: 0 9px;
}

.header-paragraph {
  margin-top: 10px;
  margin-bottom: 10px;
}

.bold-title {
  font-weight: bold;
}
