.headerContainer {
    widows: 100%;
    // border: 1px solid red;
    display: flex;
    flex-direction: row;
    .logo {
        width: 40px;
        height: 40px;
        padding: 10px;
    }
    .textContainer {
        display: flex;
        flex-direction: column;
        .headerTitle {
            display: flex;
            align-items: center;
            h2 {
                padding-right: 10px;
                line-height: 0.8;
            }
            .handle {
                font-size: 1.3rem;
                color: gray;
            }
        }
        .headerContent {
            margin-bottom: 10px;
            p {
                display: inline;
            }
        }
    }
}