html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0.4rem;
  font-family: sans-serif;
}

* {
  margin: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4 {
  font-size: 2rem;
}

p {
  font-size: 1.6rem;
}

.container {
  max-width: 880px;
  margin: 0 auto;
  padding: 3%;
  width: 100%;
}

.content {
  width: 90%;
}


//header
.header {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 20px; 

  .logo {
    width: 8%;
    object-fit: contain;
    margin-right: 2%;
  }
}

.content {
  width: 90%;

  .title {
    display: flex;
    align-items: center;

    p {
      padding-left: 1%;
      color: gray;
      font-size: 1.4rem;
      width: 50%;
    }
  }  

}






//card 
.cards {
  display: flex;
  align-items: flex-end;
  flex-direction: column;

  .card {
    text-decoration: none;
    color: black;
    border: 1px solid lightgrey;
    border-radius: 5px;

    img {
      width: 100%;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      
    }

    .right {
      width: 100%;
      padding: 20px;
      line-height: 1.5;
    }

    .site {
      color: gray;
    }
  }
  
} 