@lambda-times-color-primary: #333;
@lambda-times-color-white: #fff;
@lambda-times-color-black: #000;
@lambda-times-color-lightgrey: lightgrey;
@lambda-times-color-background: #f1f1f1;

@main-bg: #98A4AF;
@navigation-border: #959697;
@navigation-height: 50px;
@max-desktop-width: 1024px;

@mobile-width: 768px;