
.style {
   width: 85px;
   height: 75px;
   font-size: 1.9rem;
   font-weight: bold;
   background-color: #fff;
 }

 .action-btn {
   width: 255px;
   height: 75px;
   font-size: 1.9rem;
   background-color: #fff;
 }

 .symbol-btn {
   background-color:#A0001E;
   width: 85px;
   height: 75px;
   font-size: 2.5rem;
   color: #fff;
 }