@import './variables.css';

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: "Calibri";
}

p {
    font-size: 1.6rem;
    line-height: 1.2;
}

img {
    max-width: 100%;
    height: auto;
}

.card {
    width: 100%;
    max-width: 571.5px;
    margin: 15px auto;
}