* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

p {
  font-size: 1rem;
}

h2 {
  font-size: 1.2rem;
}

.app-container {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  border: 1px solid #000;
}