body {
  margin: 0;
  padding: 0.4rem;
  font-family: sans-serif;
  box-sizing: border-box;
}

$mainBorder: 1px solid red;
$mainBorder1: 1px solid black;
$mainBorder2: 1px solid blue;
$mainBorder3: 1px solid green;
$mainBorder4: 1px solid yellow;
$mainBorder5: 1px solid orange;

$lightGrey: lightgrey;

$displayGrid: grid;