
body {
  margin: 0;
  padding: 0.4rem;
  font-family: sans-serif;
  max-width: 800px;
  line-height: 19px;
  
}

p {
  font-size: 14px;
  margin-left: 10px;
}

.app {
  width: 100%;
  border-bottom: 1px solid lightgray;
  max-width: 800px;
}

.logo {
  width: 7%;
  height: 7%;
  margin: 18px 0 0 28px;
}

.header-text {
  font-size: .9rem;
  padding-left: 1.3%;
  margin-bottom: 4px;
  margin-top: 4px;
  line-height: 1.2rem;
}

.header-title {
  display: flex;
  flex-wrap: none;
  max-width: 100%;
}

.header-title h1 {
  font-size: .9rem;
  margin-left: 1.6%;
  margin-bottom: 0;
  align-self: baseline;  
}

.header-title h2 {
  font-size: .8rem;
  font-weight: 100;
  color: gray;
  padding-left: 1%;
  margin-bottom: 0;
  align-self: baseline;
  width: 60%;
  }

.header-container {
  display: flex;
  width: 73%;
}

.card-container {
  width: 64%;
  border: 1px solid lightgray;
  margin-left: 10.5%;
  border-radius: 7px;
 }
 a:link {
   text-decoration: none;
   color: black;
 }

 a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: black;
}

.card-container img {
  width: 100%; 
 
  border-radius: 7px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.card-content {
  font-size: .9rem;
  width: 96%;
  padding: 0 3%;
  margin-bottom: 9px;
 }

.card-content h2 {
  font-size: .9rem;
  margin-bottom: 5px;
}

.card-content .small-print {
  font-size: .8rem;
  font-weight: 100;
  color: gray;
  margin: 0;
 }

 .footer-container{
  width:40%;
  margin-top: 15px;
  margin-bottom: 10px;
  display:flex;
  justify-content: space-between;
  align-items:center;
  margin-left: 83px;
}

 
.footer{
  width:25%;
  display: flex;
  align-items: center;  
  font-size:20px;
  font-weight:100;
  color:gray;
}


