body {
  margin: 0;
  padding: 0.4rem;
  font-family: sans-serif;
  background-image: url("bread.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 450px;
  max-height: 450px;
  width: 100%;
}
 
