.Wrapper {
  max-width: 456px;
  max-height: 598px;
  border: 1px solid lightgray;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  font-size: 2.6rem;
  line-height: 0.6rem;
  font-weight: 400;
}
