* {
  box-sizing: border-box;
}


body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #101010;
}

.container {
  width: 450px;
  display: flex;
  flex-wrap: wrap;
  border: 2px solid #8c8c8c;
}



p {
  padding: 0;
  margin: 0;
}