
.calculator {
    width: fit-content;
}
.calc-content {
    display: flex;
    flex-direction: row;
    width: 104%;
}

.numbers {
    width: 75%;
    
}

.actions {
    display: flex;
    flex-direction: column;
}



.numberButton {
    width: 75px;
    height: 75px;
  &:last-child {
      width: 100%;
  }
  &:first-child {
      width: 100%;
  }
}

.actionButton {
    &:last-child {
        width: 100%;
    }
}