/* Variables */
$black: #17191A;
$red: #AC2C30;

/* Mixins */
@mixin button-size {
  width: 113px;
  height: 100px;
  font-size: 20px;
  font-weight: bold;
}

* {
  border: 1px solid purple;
}
/* Body of Calculator */
.calcBody {
  width: 456px;
  margin-left: 33%;
  margin-top: 20px;
  .display {
    background-color: $black;
    height: 117px;
    color: white;
    text-align: end;
  }
  .whiteButton {
    @include button-size;
  }
  .redButton {
    @include button-size;
    background-color: $red;
    color: white;
  }
  .clearButton, .zeroButton {
    width: 339px;
    height: 100px;
    font-size: 20px;
    font-weight: bold;
  }
}