.Calculator {
  display: flex;
  flex-wrap: wrap;
}
button {
  font-size: 30px;
  height: 50px;
  padding: 7px;

  border: none;
}
.row {
  display: flex;
  width: 100%;
}

.ActionButton {
  font-size: 40px;
  width: 81%;
  border: 1px solid grey;
  text-align: center;
}

.NumberButton {
  border: 1px solid grey;
  width: 26.67%;
  text-align: center;
}

.operator {
  background-color: orange;
  color: white;
  width: 100%;
}
