body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


.app {
  width: 30%;
  margin: 0 auto;
}

.calc-display {
  width: 91%;
  margin-bottom: -20px;
}


.button-container {
  display: flex;
  width: 100%;
  /* justify-content: flex-start; */

}

.main-buttons {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  
}

.button-symbol-container {
 
  width: 50%;
}