.button-container {
    height: 100px;
    display: flex;
  }
  
  .number-button {
    width: 100px;
    border: 1px solid lightgray;
  }
  
  .zero-clear-button {
    width: 300px;
    border: 1px solid lightgray;
    padding: 0 100px;
  }
  
  .red-button {
    background: red;
    color: white;
    text-align: center;
    line-height: 100px;
    font-size: 50px;
    font-weight: 200;
  }
  .num-button {
    text-align: center;
    line-height: 100px;
    font-size: 50px;
    font-weight: 200;
  }
  
  .three-text {
    text-align: center;
    line-height: 100px;
    font-size: 50px;
    font-weight: 200;
  }