.number-button {
    width: 25%;
    text-align: center;
    /* border: .25px solid grey; */
    border-top: none;
    padding: 20px 0;
    border-bottom: .25px solid grey;
    border-right: .25px solid grey;
}

.operator-button {
    width:25%;
    text-align: center;
    color: white;
    background-color: #AD0004;
    border-bottom: .25px solid grey;
    padding: 20px 0;
}