* {
  box-sizing: border-box;
  margin: 0;
}

.App {
  margin: 50px auto;
  width: 500px;
}

.Display {
  height: 100px;
  background-color: black;
  color: white;
  font-size: 30px;
  text-align: right;
}

.Display p {
  padding: 60px 20px 0 20px;
}

.Grid {
  display: flex;
}

button {
  display: block;
  font-size: 30px;
  width: 33.33%;
  height: 100px;
}

.Numbers {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  width: 70%;
}

.Clear, .Zero {
  width: 100%;
}

.Operators {
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  width: 30%;
}

.Operators button {
  background-color: #B22222;
  color: white;
  width: 100%;
}

