/* App Wrapper */

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777;
  padding: 3rem;
}

.app-wrapper {
  /* display: flex; */
  width: 100%;
  height: 100%;
  border: 1px solid black;
}
