body {
    box-sizing: border-box;
    font-size: 62.5%;
  }
  
  .container {
    /* min-height: 600px; */
    width: 400px;
    margin: 0 auto;
    border: 1px solid #e3e3e3;
    font-family: sans-serif;
  }
    
  
  
  .row {
    display: flex;
  }