.container {
    max-width: 455px;
    max-height: 650px;
    margin: 50px auto;
    border: 1px solid #979797;
    display: flex;
    flex-wrap: wrap;
    font-size: 62.5%;    
    transition: box-shadow 1s;
}

.container:hover {
    box-shadow: 5px 5px #979797;
}