html{
  box-sizing: border-box;}

body {
  margin: 30% auto;
  padding: 0;
  font-family: sans-serif;
  width: 100%;
  max-width: 278px;
  border: 2px solid grey;
  display: flex;
  flex-wrap: wrap;
  
}

#root{
  width: 100%;
}