body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
html {
  font-size: 62.5%;
}
* {
  box-sizing: border-box;
}
.calculator {
  margin: 0 auto;
  margin-top: 50px;
  max-width: 500px;
  width: 100%;
  border: 1px solid gray;
}
.buttons {
  display: flex;
  width: 100%;
}
.buttons .button {
  width: 100%;
  height: 100px;
  text-align: center;
  background-color: white;
  font-weight: bold;
  margin: 0;
  border: 1px solid gray;
  cursor: pointer;
  font-size: 4rem;
}
.buttons .numberpad {
  width: 80%;
}
.buttons .numberpad .action-button {
  width: 100%;
  height: 100px;
  text-align: center;
  background-color: white;
  font-weight: bold;
  border: 1px solid gray;
  font-size: 4rem;
}
.buttons .numberpad .clear {
  font-weight: normal;
}
.buttons .numberpad .row {
  display: flex;
  width: 100%;
}
.symbol {
  display: flex;
  flex-direction: column;
  width: 30%;
}
.symbol .red {
  background-color: #A0001E;
  color: white;
  font-weight: normal;
  font-size: 5rem;
}
.display {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  background-color: #222222;
  color: white;
  height: 100px;
  margin: 0;
  padding: 10px 15px;
  font-size: 6rem;
  font-weight: normal;
}
