.display {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 80px;
  color: #fff;
  font-size: 3rem;
}

span {
  padding: 10px;
}