.footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    width: 100%;
    margin: 20px 0 0 120px;
    color: var(--light-gray);
}

.footer-icon {
    margin: 0 10% 0 0;
}

.count {
    margin: 0 0 0 3px;
}