.calc-container{
    max-width: @maxWidth;
    width: @width;
    margin: 50px auto;
    border: 4px solid @greyBorder;
    display: flex;
    flex-flow: row wrap;

    .calc-body{
        width: @width;
        display: flex;
        flex-flow:columns wrap;

        .left-column{
            display: flex;
            flex-flow: row wrap;
        }
        
        .right-column{
            display: flex;
            flex-flow: column wrap;
        }
    }
}