.card-container{
    max-width: @MaxWidth;
    width: @Width;
    margin-top: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;

    .card-box{
        max-width: @CardContentMaxWidth;
        width: @Width;
        margin-right: 20px;
    }
}


