.Card-Container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.card-banner {
    align-self: flex-end;
    max-width: 503.56px;
    width: 100%;
    height: 252px;
}

.card-text {
    max-width: 503.56px;
    width: 100%;
    align-self: flex-end;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-top: 15px;
    height: 104px;
    border-bottom: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-radius: 5px;
}

.card-text h1 {
    font-size: 1.4rem;
    font-weight: 600;    
    margin-bottom: 7px;
}

.content-text {
    margin-bottom: 6px;
}

.card-text .stamp {
    font-size: 1.4rem;
}
