/* All styles for your Card Components live here */

.card-container-wrapper {
  display: flex;
  width: 675px;
  flex-direction: row;
  justify-content: flex-end;
}

.card-wrapper {
  display: flex;
  flex-direction: column;
  width: 590px;
  padding: 10px 1px;
  border: 1px solid #999;
  border-radius: 6px;
}

a {
  text-decoration: none;
  color: #000;
}

a:visited {
  color: #000;
}

.card-banner-img {
  width: 590px;
  height: 330px;
  margin-top: -10px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.card-content-title {
  font-weight: 700;
  padding: 10px 0;
  margin-left: 10px;
}

.card-content-txt {
  width: 520px;
  margin-left: 10px;
}

.card-content-link-txt {
  color: gray;
  padding-top: 10px;
  margin-left: 10px;
}
