/* All styles for your Card Components live here */

#card-content {
    width: 1fr;;
    margin-left: 140px;
    padding: 0px 20px;
}

img {
    width: 100%;
}

#card-content h1 {
    margin-bottom: 0px;
}

#card-content p {
    margin-bottom: 0px;
}

#card-content h2 {
    margin-left: 0px;
}
