/* All styles for your Card Components live here */
.CardBannerImg{
    background-image: url("https://ibin.co/3wnC6SgIOJud.png") ;
     width: 100%;
    height: 300px; 
    background-size: 950px;

    background-repeat: no-repeat;
    /* background-size: cover;*/
    background-position: center;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    object-fit: cover;


}

a{
    text-decoration: none;
    color:black;
}

.CardContainer{
    width: 90%;
    margin: 0 0 0 10%;
    border: solid rgba(0, 0, 0, .05);
    border-width: 2px;
    border-radius: 6px;
    
}

.cardTitle{
    font-weight: bold;
    margin: 10px;
}

.cardBody{
    margin: 0 0 0 10px;
   

}

.cardUrl{
    margin:10px;
  
    opacity: .6;
    font-size: 12px;

}