/* All styles for your Card Components live here */

.cardContainer {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-top: 5px;

}

.banner {
    background-image: url(https://i2.wp.com/www.andreasreiterer.at/wp-content/uploads/2017/11/react-logo.jpg?resize=825%2C510&ssl=1);
    max-width: 100%;
    height: 510px;
    background-size: cover;
    border-radius: 5px;
    
}

.cardContainer h1 {
    font-size: 1.7rem;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.cardContainer p {
    font-size: 1.6rem;
}

.cardContainer p .link {
    text-decoration: none;
    color: gray;
   
}