/* All styles for your Card Components live here */
.bannerImg {
    /* border: 1px solid blue; */
    width: 90%;
    
}

.bannerImg img {
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.card {
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.card .cardContent {
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-radius: 0 0 5px 5px;
    padding: 12px;
    width: 90%;
    margin-top: -2px;
}

.card .cardContent h2 {
    font-weight: bold;
    font-size: 1.6rem;
    margin-bottom: 8px;
}

.card .cardContent p{
    font-size: 1.6rem;
}

.card .cardContent .originLink{
    color: gray;
    margin-top: 8px;
}

.card .cardContent a {
    text-decoration: none;
}