.card-box{
    .card-content-container{
        border: 1px solid #ccc;
        margin: -2px 0 20px 0;
        padding: 20px;
        border-radius: 0 0 10px 10px;

        .card-title{
            font-weight:  bolder;
            margin: 20px 0;
        }

        .card-txt{
            padding-right: 0px;
            line-height: 1.2;
            margin-bottom: 20px;
        }

        .card-content-link{
            margin: 20px 0 10px 0;
            text-decoration: none;
            color: @timestampColor; 
        }
    }
}

       
    
    