
.cardCont{
    width:100%;
    max-width: 560px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 0px 50px 50px 140px;
}

.backgroundImg{
    width: 100%;
    max-width: 560px;
    
}

.cardP h1{
    font-size: 20px;
    margin: 10px;
}

.cardP p{
    margin: 10px 
}

.org{
    color:grey;
}

a{
    display: block;
    color: grey;
    text-decoration: none;
    width: 560px;
    height: 425px;
    position: absolute;
    top: 170px;
}