/* All styles for your Card Components live here */

.cardContainer {
    width: 516px;
    padding-left: 60px;
    border-radius: 10px;
    
}

.banner {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.border {
    border: 1px solid #AFB7C0;
    border-radius: 12px;
}

.bottom {
    font-size: 14px;
}

.card {
    padding-top: 10px;
}

.bottom, .card, .addy {
    padding-left: 10px;
}

.addy {
    padding-bottom: 10px;
}

