/* All styles for your Card Components live here */

.card-container-div {
    width: 590px;
    display: flex;
    justify-content: flex-end;
    margin: 15px 10px 0 0;
}

.card-banner-image {
    width: 500px;
    height: 250px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card-content {
    border: 1px solid lightgray;
    width: 500px;
    border-radius: 5px;
    margin-right: 30px;
    padding-bottom: 10px;
    text-decoration: none;
    color: #222222;
}

.card-text {
    margin: 0 15px;
}

.card-text h3 {
    margin: 10px 0 0 0;
    font-size: 14px;
}

.card-text p {
    font-size: 14px;
    line-height: 1.3;
    margin: 5px 0 5px 0;
}

.card-text a {
    text-decoration: none;
    color: gray;
    font-size: 14px;
}