/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Your Code Goes Here */
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
.container {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  max-width: 590px;
  margin-top: 13px;
  padding-right: 10px;
}
.main-body {
  display: flex;
  flex-direction: column;
}
p {
  font-size: 1.6rem;
}
.header-container {
  display: flex;
  flex-direction: column;
}
.lambda-logo {
  width: 50px;
  margin: 0 9px;
}
.header-paragraph {
  margin-top: 10px;
  margin-bottom: 10px;
}
.bold-title {
  font-weight: bold;
}
.banner-image {
  width: 100%;
  height: auto;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-top: 10px;
}
.card-content-container {
  display: flex;
  flex-direction: column;
}
.card-content-container .h1 {
  font-size: 1.6 rem;
  font-weight: bold;
}
.card-content-container {
  padding-left: 15px;
  border: 1px solid gray;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.gray-text {
  color: gray;
  margin-top: 10px;
}
.footer-container {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}
.footer-container .size {
  font-size: 3rem;
}
