.calculator {
    /*   border: 5px solid orange; */
      width: 600px;
      margin: 0 auto;
      box-sizing: border-box;
    }
    
    .output {
      color: white;
      background: black;
      font-size: 80px;
      height: 150px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    /*   border: 5px solid purple; */
      padding-right: 10px;
    }
    
    .wideButton {
      width: 75%;
      height: 110px;
      font-size: 60px;
    }
    
    .button {
      width: 25%;
      height: 110px;
      font-size: 60px;
    }
    
    .operator {
      width: 25%;
      height: 110px;
      background: maroon;
      font-size: 60px;
    }