.container{
    display: flex;
    margin: 0 auto;
    width: 650px;
  }
  
  .leftLogo{
    height: 50px;
    width: 50px;
      }
  
  .column{
    display: flex;
    flex-direction: column;
    padding: 5px;
  }
  .MainImage{
    width: 100%;
  }
  .BorderDiv{
    border: solid;
    border-radius: 2px;
  }
  .MainContent{
    margin-left: 15px;
  }