@import './components/HeaderComponents/Header.css';
@import './components/CardComponents/Card.css';

#app {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  width: 590px;
}

.thumbnail {
  display: inline-flex;
  width: 180px;
}

.thumbnail img {
  height: 50px;
  width: 90%;
}

main {
  display: flex;
  flex-direction: column;
}