/* 
  Write your styles/CSS for App.js here and import into the component that you need 
  IF you'd like to attempt to use less you'll have to research how to do this with Create React App
*/
.app-wrapper {
  width: 550px;
  height: 475px;
  border: 1px solid black;
  padding: 10px 20px 10px 5px;
}