body {
  margin: 0;
  padding: 0.4rem;
  font-family: sans-serif;

}

*{
  box-sizing: border-box; 
}

.card {
  display: flex;
  flex-direction: column;
  border: solid black;
  background-color: #ffffff;
  box-shadow: black;
  max-width: 50%;
  max-height: 50%;  
}
