body {
  margin: 0 auto;
  padding: 0.4rem;
  font-family: sans-serif;
  max-width: 590px;
  width: 100%;
  height: 514px;
}

h1 {
  font-size: 0.8rem;
}

h2 {
  font-size: 0.7rem;
  color: #7A8B9A;
}

p {
  font-size: 1rem;
}
