.foot{
    margin-left: 140px;
}

.fa {
    padding: 10px;
    font-size: 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    height: 20px;
    position: inherit;
  }

  .fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
    margin: 0% 17% 3% 17%;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
    margin-right: 17%;
  }

.fa-reddit {
    background: #ff5700;
    color: white;
  }

  