.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    margin-left: 20%;
    font-size: 1.2rem;
    height: 35px;
}

.font-awesome {
    color: grey;
    padding: 0 13px;
}

.font-awesome:hover {
    cursor: pointer;
}


.footer p {
    color: grey;
}