.footer-container {
  width: 47%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: flex-start;
  margin: 17px 0 0 55px;
  padding: 5px 5px 0 5px;
}

.footer-icon {
  width: 20px;
  height: 20px;
  border: 1px solid blue;
  border-radius: 50%;
}

.footer-icon:hover {
  cursor: pointer;
}
