.card-footer {
    display: flex;
    justify-content: flex-start;
    padding: 20px 0 10px 65px;
    width: 85.5%;
    margin-left: 8px;
}

    .card-footer div {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 60px;
    }

        .card-footer div p {
            font-size: 12px;
        }

        .card-footer div svg {
            width: 15px;
            margin-right: 5px;
        }

        .card-footer div.like {
            margin-left : -8px;
        }

        .card-footer div.comment {
            transform: scaleX(-1);
        }
