.Footer {
  margin-left: 5.5rem;
  padding: 1.5rem 0;
  display: flex;
}

.FooterIcon {
  margin-right: 6rem;
  color: #95a3af;
  display: flex;
  align-items: center;
}

.FooterIcon__span {
  margin-left: 1rem;
  font-size: 1.2rem;
}
