* {
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 25%;
  background: #B8BDB5;
}
body main {
  display: flex;
  flex-flow: column wrap;
  border: 5px black solid;
  width: 400px;
}
.display {
  border: 1px black solid;
  width: 100%;
  height: 100px;
  background: #4A1942;
}
.buttons {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  height: 300px;
}
.buttons .left {
  width: 75%;
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: center;
}
.buttons .left div {
  border: 1px black solid;
  width: 100%;
  height: 20%;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #EAEAEA;
}
.buttons .left .numbers {
  width: 33.33%;
  height: 20%;
  border: 1px black solid;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #EAEAEA;
}
.buttons .right {
  width: 25%;
  display: flex;
  flex-flow: column nowrap;
}
.buttons .right .action {
  width: 100%;
  height: 20%;
  border: 1px black solid;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #893168;
}
