@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local('Oswald Regular'), local('Oswald-Regular'), url(https://fonts.gstatic.com/s/oswald/v16/TK3iWkUHHAIjg752GT8D.ttf) format('truetype');
}
* {
  box-sizing: border-box;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 1rem;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Roboto', sans-serif;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.calc-container {
  max-width: 408px;
  width: 100%;
  margin: 50px auto;
  border: 4px solid #ccc;
  display: flex;
  flex-flow: row wrap;
}
.calc-container .calc-body {
  width: 100%;
  font-family: 'Oswald', sans-serif;
  display: flex;
  flex-flow: columns wrap;
}
.calc-container .calc-body .left-column {
  display: flex;
  flex-flow: row wrap;
}
.calc-container .calc-body .right-column {
  display: flex;
  flex-flow: column wrap;
}
.calc-container .calc-display {
  max-width: 408px;
  width: 100%;
  padding: 25px;
  background-color: #000;
  color: #fff;
  font-family: 'Oswald', sans-serif;
  font-size: 4rem;
  text-align: right;
  border-bottom: 4px solid #ccc;
}
.calc-body .left-column .actionBtn {
  width: 300px;
  height: 100px;
  margin: 0;
  font-family: 'Oswald', sans-serif;
  font-size: 3rem;
  text-align: center;
  border-bottom: 2px solid #ccc;
}
.calc-body .left-column .actionBtn:hover {
  background-color: #eee;
  color: #333;
}
.calc-body .left-column .zero {
  font-weight: bold;
}
.calc-body .left-column .numberBtn {
  width: 100px;
  height: 100px;
  font-family: 'Oswald', sans-serif;
  font-size: 3rem;
  font-weight: bold;
  border: 2px solid #ccc;
}
.calc-body .left-column .numberBtn:hover {
  background-color: #eee;
  color: #333;
}
.calc-body .right-column .operatorBtn {
  width: 100px;
  height: 100px;
  font-family: 'Oswald', sans-serif;
  font-size: 3.3rem;
  border: 2px solid #ccc;
  background-color: #A0001E;
  color: #fff;
}
.calc-body .right-column .operatorBtn:hover {
  background-color: #eee;
  color: #333;
}
