.appContainer {
  width: 567px;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: sans-serif;
  font-weight: 800;
  display: flex;
  flex-wrap: wrap;
}
.numberButtonDiv {
  width: 20.1%;
}
.defaultButtonStyles {
  width: 100%;
  height: 95px;
  background: white;
  border: 1px solid grey;
  padding: 0;
  font-size: 2.7rem;
}
.calcDisplay {
  background: black;
  font-size: 4.5rem;
  color: white;
  display: flex;
  justify-content: flex-end;
  padding: 27px 3% 17px 0px;
  font-weight: 100;
  width: 77.5%;
}
.symbolStyle {
  background: red;
  color: white;
  font-size: 2.7rem;
}
.actionButtonDiv {
  width: 60.3%;
}
.actionButton {
  width: 100%;
  height: 95px;
  background: white;
  border: 1px solid grey;
  font-size: 2.7rem;
  padding: 0;
  color: black;
}
