.input {
    height:100px;
    width: 361px;
    display: flex;
    font-family: Helvetica;
    justify-content: flex-end;
    align-items: center;
    font-weight: bold;
    font-size: 2.4em;
    background-color: #000000;
    color: #ffffff;
    padding: 0.5em;
   justify-content: center;
  }