/* All styles for your header Components live here */
.container {
    display: flex; 
}

.container img {
    width: 60px; 
    height: 60px; 
    border-radius: 50%; 
}

.title {
    display: flex; 
    align-items: center; 
}

.content {
    font-size: 15px;

}