

.headCont {
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
}

.logo img{
    width: 8%;
    position: absolute;
}

.title{
    display: flex;
    flex-direction: row;
}

.title p{
    margin-right: 10px;
    color: grey;
}

.title h1{
    font-size: 20px;
    margin-left: 140px;
    margin-right: 10px;
}

.headerP{
    margin-left: 140px;
}
