/* All styles for your header Components live here */
.headerInfo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    }

.headerItem {
    padding: 5px;
    margin-top: 0px;
}

h1.headerItem {
    font-size: 1.2rem;
}

p.headerItem {
    color: #AAAAAA;
}

.headUpper {
    display: flex;
    align-items: flex-start;
}

.thumb {
    width: 50px;
    height: 50px;
}

.headContP  {
    width: 25%;
    margin-top: -2.5em;
}

.header-aside {
    display: flex;
}

.indent {
    margin-left: 57px;
}