/* All styles for your header Components live here */
.header-container {
    display: flex;
    width: 600px;
}


.thumbnail-img {
    width: 60px;
    height: 60px;
    background-color: black;
    border: 1px dashed white;
    border-radius: 30px;
    margin-top: 10px;

}

.header-title {
    margin-left: 15px;
    margin-top: 10px;
   
}

.header-content {
    margin-left: 15px;
    margin-top: 10px;
}
.header-title  {
    font-weight: bold;

}

.header-title span {
    font-weight: lighter;
    font-size: 12px;
    color: grey;
}



