/* All styles for your header Components live here */
.container-header {
/* height: 100px; */
/* width: 100%; */
border: 1px solid red;
justify-content: center;
margin-top:10px;

}


.title-head {
font-size:1.6rem;

}

.thumbnail {
    height: 70%;
    /* display: block; */
}

.content-header {
left:0;  
}
