.header-title-container{
    width: @Width;
    padding: 10px 0;
    display: flex;
    flex-flow: columns nowrap;
    align-items: flex-end;
     

    .header-title{
        font-size: 1rem;
        font-weight: bold;
        font-family: 'Roboto', sans-serif;
    }

    .date-stamp{
        margin-left: 10px;
        font-size: .8rem;
        font-family: 'Roboto', sans-serif;
        color: @timestampColor;
    }
}
