/* All styles for your header Components live here */

.header-wrapper {
  display: flex;
  flex-direction: row;
  padding: 10px 10px 20px 10px;
}

.header-title-and-content-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 10px;
}

.header-title-wrapper {
  display: flex;
  flex-direction: row;
  padding: 10px 0;
}

img {
  max-width: 100%;
  max-height: 100%;
  margin-top: 5px;
}

.header-img {
  width: 55px;
}

.header-user-name {
  font-weight: 700;
  padding: 0 5px;
}

.header-user-tag {
  font-weight: 200;
  color: #888;
  padding-right: 5px;
}

.header-seperator {
  color: #888;
}

.header-creation-date {
  font-weight: 200;
  color: #888;
  padding-left: 5px;
}

.header-txt {
  display: flex;
  padding-left: 5px;
  width: 600px;
}