/* All styles for your header Components live here */
.header-container {
    display: flex;
    justify-content: space-between;
}
.thumbnail {
    margin-top: 10px;
    width: 10%;
}
.thumbnail img {
    width: 50px;
    height: 50px;
}
.header-section {
    width: 90%;
}
.tittle {
    display: flex;
    align-items: center;
}
.tittle h1 {    
    margin-right: 10px;
}