/* All styles for your header Components live here */ 

.header-img{
    width: 51px;
    height: auto;
    border-radius: 50%;
    
}

.header-container{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    margin: 13px 8px;
}

.header-container .header-text{
    margin: 4px 10px;
    
}

.header-container .header-text .header-title{
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.header-container .header-text .header-title h2{
    font-size: 1.4rem;
    margin-right: 10px;
}