/* All styles for your header Components live here */
.header-container {
    width: 600px;
    height: 90px;
}

.header {
    display: flex;
    align-items: flex-start;
}

.lambda {
    font-size: 16px;
    font-weight: bold;
    padding-left: 10px;
    margin: 0;
}

.logo {
    width: 50px;
    height: auto;
}

.dateline {
    color: gray;
    padding-left: 10px;
    font-size: 14px;
}

.header-content {
    padding-left: 60px;
    margin-top: -30px;
}