/* All styles for your header Components live here */

.header-container {
    background: black;
    height: 300px;
    width: 3
}

.header {
    display: flex;
    padding: .5rem;
    border: 1px solid grey;
}

.header__image {
    flex-basis: 8.33%;
}

.header__text {
    flex-basis: calc(100% - 8.33%);
    padding: 0 .5rem;
}

.header__title {
    font-weight: bold;
    margin-right: .5rem;
}

.header__time {
    color: #999;
    font-size: 0.9rem;
    margin-right: .5rem;
}


