
.calculator-display {
    background-color: black;
    color: white;
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 4.8rem;
    padding: 5px;
}