.display-button {
    background: black;
    height: 125px;
    width: 446px;
    color: white;
    text-align: right;
    font-size: 4.5rem;
    font-family: sans-serif;
    font-weight: 300;
    border: 1px solid grey;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.display-button p {
    padding-right: 3%;
}