.display
  width: 100%
  background-color: black
  display: flex
  justify-content: flex-end
  border: 1px solid grey
  p
    color: white
    font-size: 4rem
    margin: 20px 15px


.button-container
  width: 75%
