.calculator-display {
    width: 456px;
    height: 125px;
    background-color: black;
    border: 1px solid grey;
    box-sizing: border-box;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 78px;
    padding-right: 10px;
}