.watermelon{
	width:100%;
	background:black;
	color:white;
	font-size:72px;
	height:120px;
	display:flex;
	justify-content:flex-end;
	align-items:center;
	border-bottom:3px solid grey;
}

.watermelon p{
	margin-right:10px;
}