.calc {
    height: 600px;
    width: 456px;
    background:lightgray;
    margin: 25% auto;
    display: flex;
    flex-wrap: wrap;
}

.calc-screen {
    width:100%;
    height: 20%;
    background: black;
    color:white;
    border:1px solid gray;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size:8rem;
    font-weight: lighter;
    padding-right:3%;
}

