.displayNum {
    height: 130px;
    background-color: #222222;
    text-align: right;
    padding-top: 30px;
    padding-right: 20px;
    font-size: 72px;
    color: #ffffff;
    margin: 0 0;
}

.displayTotal {
    margin: 0 0;
    width: 100%;
    height: 130px;
}