.display-screen {
  border: 1px solid rgb(151, 151, 151);
  min-width: 450px;
  height: 125px;
  background-color: rgb(34, 34, 34);
  color: white;
  font-size: 74px;
  font-weight: 100;
  padding-right: 15px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
