.btn-act {
    width: 130px;
    height: 94px;
    border: 1px solid #979797;
}

.btn-act p {
    background: #a3001e;
    text-align: center;
    height: 100%;
    margin-top: 0px;
    font-size: 4.0rem;
    color: white;
}