.calc-body{

    .left-column{

        .actionBtn{
            // max-width: @width75;
            // width: @actionBtnWidth;
            // padding: 25px 10px;
            width: @actionBtnWidth;
            font-size: 3rem;
            text-align: center;
            border: 1px solid blue;
        }

        .numberBtn{
            width: 100px;
            padding: 40px;
            border: 1px solid blue;
        }
    }
}

