.button-container {
    width: 100%;
    height: calc(595px - 123px);
    display: flex;
  }
   .button__numbers-container {
    width: 75%;
    height: calc(595px - 123px);
  }
   .button__numbers--clear {
    width: 100%;
    height: 94.4px;
    display: flex;
    justify-content: center;
    text-align: center;
  }
   .button__numbers--numerals {
    width: 100%;
    height: 283px;
  }
   .button__numbers--numerals-container {
    width: 100%;
    height: 94.4px;
    display: flex;
  }
   .button__numbers--zero {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 1px;
  }
   .button__actions-container {
    width: 27%;
    height: calc(595px - 123px);
    display: flex;
    flex-direction: column;
  }
   .btn {
    width: 111px;
    height: 94.4px;
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    font-weight: bold;
    color: #222;
    border-top: solid 2px #979797;
    border-right: solid 2px #979797;
  }
   .btn:hover {
    cursor: pointer;
  }
   .btn-weight {
    font-weight: normal;
  }
   .btn-lg {
    width: 100%;
  }
   .button__actions-container .btn-colored {
    width: 100%;
    background-color: #A0001E; 
    color: white;
  }
  