.blackBack {
    width: 100%;
    height: 5rem;
    font-size: 3rem;
    background-color: #222222;
    color: white;
    text-align: right;
    border: 1px solid #979797;
}

.whiteBack,
.redBack,
.longB {
    font-size: 2rem;
    height: 4rem;
    font-weight: 700;
    border: 1px solid #979797;
}

.whiteBack,
.redBack {
    width: 25%;
}

.longB {
    width: 75%;
    background-color: white;
}

/* need to grab first element with the same className - still working on that */

.longB:nth-of-type(1) {
    font-weight: 500;
}

.redBack {
    background-color: #A0001E;
    color: white;
    font-weight: 500;
}

.whiteBack {
    background-color: white;
}

.onLine {
    display: flex;
}