
.buttonStyle{
    display:flex;
    width:75%;
    flex-wrap:wrap;
    flex-direction:row-reverse;
}

.default{
    display:flex;
    justify-content:center;
    align-items:center;
    width:33.33%;
    border:1px solid grey;
    height:100px;
    font-size:54px;
}

.larger{
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
    border:1px solid grey;
    height:100px;
    font-size:54px;
}