.calc-body{

    .left-column{

        .actionBtn{
            // max-width: @width75;
            // width: @actionBtnWidth;
            // padding: 25px 10px;
            width: @actionBtnWidth;
            height: 100px;
            margin: 0;
            font-size: 3rem;
            text-align: center;
            border-bottom: 1px solid @greyBorder;
        }

        .numberBtn{
            width: 100px;
            height: 100px;
            border: 1px solid @greyBorder;
        }
    }

    .right-column{
        .operatorBtn{
            width: 100px;
            height: 100px;

            border: 1px solid @greyBorder;
        }
    }
}

