.MainButtons {
  height: 50px;
  display: flex;
  border: 1px solid blue;
}

.sixtySix {
  width: 66%;
  font-size: 32px;
  text-align: center;
  line-height: 50px;
  font-weight: bold;
  background-color: white;
}