
 
 
/* .buttons{
    display: flex;
    width:100%;
    background-color: yellow;
    height:70%;
    border: 2px solid blue;
} */

/* .row-1-3{
    width:100%;
    border: 2px solid white;
    background-color: red;
    color: white;
    padding: 30px;
    font-size: 60px;
    
}
.row-4-6{
    width:100%;
    border: 2px solid white;
    background-color: red;
    color: white;
    padding: 60px;
    font-size: 60px;

}
.row-7-9{
    width: 75%;
     border: 2px solid white;
    background-color: red;
    color: white;
    padding: 30px;
    font-size: 60px;
}
.clear{
     border: 2px solid white;
    background-color: red;
    color: white;
    padding: 30px;
    font-size: 60px;
}
/* .zero{
    width:100%;
    border: 2px solid white;
    background-color: red;
    color: white;
    padding: 30px;
    font-size: 60px;
} */
/* .nums-container{
    display:inline-flex;
   flex-direction: row;
    width: 100%;

} 
 
.display-btns{
    width:100%;
    border: 3px solid blue;

}
  .actions{
      display: inline-flex;
      flex-direction: column;
       margin:0px;
       
  }
  .actions div {
    border: 2px solid white;
    background-color: red;
    color: white;
    padding: 30px;
    font-size: 60px;
  

  } */ 
  .clear {
    width: 282px;
    height: 94px;;
    font-size: 60px;
    background: azure;
    color: midnightblue;
    border: 0;
  }
  .clear:hover {
    background: midnightblue;
    color: azure;
  }
  .action {
    width: 94px;
    height: 94px;
    font-size: 60px;
    background: darkred;
    color: lightcoral;
    border: 1px solid lightcoral;
  }
  .action:hover {
    background: lightcoral;
    color: darkred;
  }
  .number {
    width: 94px;
    height: 94px;
    font-size: 60px;
    background: steelblue;
    color: midnightblue;
    border: 1px solid azure;
  }
  .number:hover {
    background: midnightblue;
    color: steelblue;
  }
  .zero {
    width: 282px;
    height: 94px;
    font-size: 60px;
    background: steelblue;
    color: midnightblue;
    border: 1px solid azure;
  }
  .zero:hover {
    background: midnightblue;
    color: steelblue;
  }