.calc-container{
    .calc-display{
        max-width: @maxWidth;
        width: @width;
        padding: 25px;
        background-color: @blackBg;
        color: @white;
        font-family: @fontFamily;
        font-size: @display-size;
        text-align: right;
        border-bottom: 4px solid @greyBorder;
    }
}