.footer {
    display: flex;
    margin: 10px auto 0 auto;
    width: 85%;
}

.footer-img {
    padding: 10px 20px;
}

#comment-img {
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        
}
