.main-container{

    .footer-container{
        width: 100%;
        height: 50px;
        margin-top: 30px;
        padding:0;
        border: 1px solid red;
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-end;
        

       .icon-list{
           border: 1px solid green;

           .icon{
               width: 100px;
               border: 1px solid purple;
           }
       }
    
    }
}