.post .post-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 80px;
    margin-top: 20px;
    max-width: 400px;
    color: grey;
}

.post .post-footer div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.post .post-footer div span {
    margin-left: 15px;
}

.post .post-footer svg {
    fill: grey;
    transition: fill 0.3s;
}

.post .post-footer svg.reposted {
    fill: green !important;
    animation: pop 0.4s ease-in-out;
}

.post .post-footer svg.liked {
    fill: red !important;
    animation: pop 0.4s ease-in-out;
}

.post .post-footer svg:hover {
    fill: black;
}

@keyframes pop {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.3);
    }
    0% {
        transform: scale(1);
    }
}
