.footer {
    margin: 15px 0 0 65px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
}

.footer-icon {
    height: 20px;
    margin-right: 10px;
}

.incrementable {
    display: flex;
}

#retweets {
    color:gray;
}

#likes {
    color: gray;
}